<!-- mes-annonces.page.html -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mes Annonces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let annonce of mesAnnonces">
      <!-- Display announcement details here -->
      <ion-thumbnail slot="start">
        <!-- Add your image display logic here -->
      </ion-thumbnail>

      <ion-label>
        <h2>{{ annonce.titre }}</h2>
        <p>{{ annonce.description }}</p>
        <!-- Display other details of the announcement -->
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home/annonces"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
